    <footer id="contact">
      <div class="footer-inner">
        <div class="contact-link">
          <strong><%= t('contactUs') %>:</strong>
          <a href="<%= whatsAppLink %>" target="_blank" rel="noopener">
            WhatsApp <%= contactNumber %>
          </a>
        </div>
        <div class="copyright">
          © Jungle Park, 2025<br />
          (Kirill Tyryshkkin)
        </div>
      </div>
    </footer>
  </body>
</html>
