<%- include('partials/header', { lang, siteName, t, currentPath, requestPath }) %>
<section class="section" style="text-align:center;">
  <h1><%= t('maintenance') %></h1>
  <p><%= t('maintenanceMessage') %></p>
</section>
<%- include('partials/footer', { t }) %>
